<div>
<mat-toolbar>
    <span>PIANO FERIE</span>
    <div fxFlex></div>
    <button mat-icon-button mat-dialog-close >
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <ng-container [ngTemplateOutlet]="templateInserimento" *ngIf="data.tipologia =='I'"></ng-container>
  <ng-container [ngTemplateOutlet]="templateListaFerie" *ngIf="data.tipologia=='G'"></ng-container>
  
</div>

<ng-template #templateInserimento>
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 6px;margin-bottom: 5px;" *ngIf="data.tipologia=='I'">
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="5px">
        <h2>Inserire i dati</h2>
        <mat-form-field>
            <input matInput placeholder="Descrizione" name="descrizione" [(ngModel)]="descrizione" required>
          </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Ore Totali" name="oreTotali" [(ngModel)]="oreTotali" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Giorni Lavorativi Totali" name="giorniLavorativiTotali" [(ngModel)]="giorniLavorativiTotali" required>
          </mat-form-field>
        <mat-form-field>
            <mat-label>Data Inizio ferie</mat-label>
            <input matInput [matDatepicker]="picker"  (dateChange)="cambiaDataPartenza($event)" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Data Fine ferie</mat-label>
            <input matInput [matDatepicker]="picker1"  (dateChange)="cambiaDataFine($event)" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        
        <button mat-raised-button type="submit">Invia</button>
      </div>
    </form>
  </div>
</ng-template>


<ng-template #templateListaFerie>
  <div fxLayout="row" style="padding: 10px;">
    <h2 mat-dialog-title>Lista Piani Ferie</h2>
    <div fxFlex></div>
    <mat-form-field style="width: 300px;">
      <input matInput [ngModel]="filtro" (ngModelChange)="onChangeEvent($event)" placeholder="Search">
    </mat-form-field>
  </div>
<mat-dialog-content class="mat-typography">
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 6px;margin-bottom: 5px">
      <div fxLayout="column" fxLayoutAlign="space-between center">
        <mat-list>
          <mat-list-item *ngFor="let pianoferie of pianoferie">
            <div fxLayout="row" fxLayoutGap="10px">
            <mat-icon matListItemIcon>folder</mat-icon>
            <div matListItemTitle>{{pianoferie.descrizione}}</div>
            <div matListItemLine>Data inizio: {{pianoferie.dataInizio | date}}</div>
            <div matListItemLine>Data fine: {{pianoferie.dataFine | date}}</div>
            <div matListItemLine>Ore totali: {{pianoferie.oreTotali}}</div>
            <div matListItemLine>Giorni Lavorativi: {{pianoferie.giorniLavorativiTotali}}</div>
            <button mat-raised-button color="accent" (click)="dettaglioPianoFerie(pianoferie.idPianoFerie,'I')" *ngIf="pianoferie.idPianoFerie">
              <mat-icon style="margin-left: 5px;">info</mat-icon>
            </button>
            <button mat-raised-button color="accent" (click)="dettaglioPianoFerie(pianoferie.idPianoFerie,'M')" *ngIf="pianoferie.idPianoFerie">
              <mat-icon style="margin-left: 5px;">edit</mat-icon>
            </button>
            <button mat-raised-button color="warn" (click)="deletePianoFerie(pianoferie.idPianoFerie)" *ngIf="pianoferie.idPianoFerie">
              <mat-icon style="margin-left: 5px;">delete</mat-icon>
            </button>
          </div>
          </mat-list-item>
        </mat-list>
      </div>
  </div>
</mat-dialog-content>
</ng-template>


