<div fxLayout="row" fxLayoutAlign="space-around center" style="background-color: darkgray;">
  <form #myForm="ngForm" (ngSubmit)="onSubmit()" style="padding: 24px">
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Inserire password..." name="password" [(ngModel)]="password" required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Conferma password</mat-label>
            <input matInput placeholder="Inserire password..." name="confermaPassword" [(ngModel)]="confermaPassword" required />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="checkPassword()">Invia</button>
    </div>
  </form>
</div>
