<div>
    <mat-toolbar>
        <span *ngIf="data.tipologiaOperazione=='D'; else elseProva">DETTAGLIO UTENTE</span>
        <ng-template #elseProva>
          <span>LISTA PIANI FERIE UTENTE</span>
        </ng-template>
        <div fxFlex></div>
        <button mat-icon-button mat-dialog-close >
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>
      <mat-dialog-content class="mat-typography">
        <div fxLayout="row" fxLayoutAlign="center center" class="user-list">
          <div fxLayout="column" fxLayoutAlign="space-between center">
            <mat-list>
              <mat-list-item class="user-item" *ngIf="data.tipologiaOperazione=='D'; else elseTemplate">
                <div fxLayout="row" fxLayoutGap="10px">
                  <mat-icon matListItemIcon>person</mat-icon>
                  <div class="user-info">
                    <div matListItemTitle>{{utente.nome}} {{utente.cognome}}</div>
                  <div matListItemLine>Codice Fiscale: {{utente.codiceFiscale}}</div>
                  <div matListItemLine>Data Nascita: {{utente.dataNascita}}</div>
                  <div matListItemLine>Genere: {{utente.genere}}</div>
                  <div matListItemLine>Email: {{utente.email}}</div>
                  <div matListItemLine>Responsabile: {{utente.responsabile.nome}} {{utente.responsabile.cognome}}</div>
                  <div matListItemLine>Ruolo: {{utente.ruolo.descrizioneRuolo}}</div>
                  <div matListItemLine>Gruppo: {{utente.gruppo.descrizioneGruppo}}</div>
                  </div>
                </div>
              </mat-list-item> 
              <ng-template #elseTemplate>
                <mat-list-item *ngFor="let pianoferie of pianiFerieList" class="user-item">
                  <div fxLayout="row" fxLayoutGap="10px">
                    <mat-icon matListItemIcon>calendar_month</mat-icon>
                    <div class="user-info">
                      <div matListItemTitle>{{pianoferie.descrizione}}</div>
                      <div matListItemLine>Data Inizio: {{pianoferie.dataInizio | date}}</div>
                      <div matListItemLine>Data Fine: {{pianoferie.dataFine | date}}</div>
                      <div matListItemLine>Ore Totali: {{pianoferie.oreTotali}}</div>
                      <div matListItemLine>Giorni Lavorativi Totali: {{pianoferie.giorniLavorativiTotali}}</div>
                    </div>
                  </div>
                </mat-list-item>
              </ng-template>
            </mat-list>
          </div>
        </div>
      </mat-dialog-content>
      
    </div>

