<div>
    <mat-toolbar>
        <span>RECUPERO PASSWORD</span>
      <div fxFlex></div>
      <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      style="margin-top: 6px; margin-bottom: 5px"
    >
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div
          fxLayout="column"
          fxLayoutAlign="space-between center"
          fxLayoutGap="5px"
          style="margin-top: 30px;"
        ><mat-form-field>
            <mat-label>Username</mat-label>
            <input
                matInput
                placeholder="Inserire email..."
                name="username"
                [(ngModel)]="username"
                required
            />
        </mat-form-field>
          <button mat-raised-button type="submit" [disabled]="!form.valid" >
            Invia
          </button>
        </div>
      </form>
    </div>
  </div>
<!-- fai uno spinner -->
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="isLoading"><mat-spinner style="height: 20px;width: 20px;"></mat-spinner> Inviando email..</div>


