<mat-toolbar>
    <span>RECUPERO PASSWORD</span>
    <div fxFlex></div>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<form #form="ngForm" (ngSubmit)="onSubmit(form)" style="margin-top: 30px;">
    <div
        fxLayout="column"
        fxLayoutAlign="space-between center"
        fxLayoutGap="5px"
    >
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input
                matInput
                placeholder="Inserire email..."
                name="username"
                [(ngModel)]="username"
                required
            />
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="!form.touched">
            Invia
        </button>
    </div>
</form>
<!-- fai uno spinner -->
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="isLoading"><mat-spinner style="height: 20px;width: 20px;"></mat-spinner> Inviando email..</div>


