<div>
    <mat-toolbar>
        <span>LISTA DIPENDENTI</span>
        <div fxFlex></div>
        <button mat-icon-button mat-dialog-close >
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>
      <div fxLayout="row" style="padding: 10px;">
        <h2 mat-dialog-title>Lista Piani Ferie</h2>
        <div fxFlex></div>
        <mat-form-field style="width: 300px;">
          <input matInput [ngModel]="filtro" (ngModelChange)="onChangeEvent($event)" placeholder="Search">
        </mat-form-field>
      </div>
      <mat-dialog-content class="mat-typography">
        <div fxLayout="row" fxLayoutAlign="center center" class="user-list">
          <div fxLayout="column" fxLayoutAlign="space-between center">
            <mat-list>
              <mat-list-item *ngFor="let utente of listaUtenti" class="user-item">
                <div fxLayout="row" fxLayoutGap="10px">
                  <mat-icon matListItemIcon>person</mat-icon>
                  <div class="user-info">
                  <div matListItemTitle>{{utente.nome}} {{utente.cognome}}</div>
                  <div matListItemLine>Codice Fiscale: {{utente.codiceFiscale}}</div>
                  <div matListItemLine>Data Nascita: {{utente.dataNascita}}</div>
                  <div matListItemLine>Genere: {{utente.genere}}</div>
                  <div matListItemLine>Email: {{utente.email}}</div>
                  <div matListItemLine>Responsabile: {{utente.responsabile.nome}} {{utente.responsabile.cognome}}</div>
                  <div matListItemLine>Ruolo: {{utente.ruolo.descrizioneRuolo}}</div>
                  <div matListItemLine>Gruppo: {{utente.gruppo.descrizioneGruppo}}</div>
                  </div>
                  <div fxLayout="row" fxLayoutGap="5px">
                    <button mat-raised-button color="accent" (click)="openDialog(utente.idUtente,'D')" matTooltip="Dettaglio Utente">
                      <mat-icon style="margin-left: 5px;">info</mat-icon>
                    </button>
                    <button mat-raised-button color="accent" (click)="openDialog(utente.idUtente,'FU')" matTooltip="Lista ferie Utente">
                      <mat-icon style="margin-left: 5px;">calendar_month</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-dialog-content>
      
    </div>
