/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.my-custom-class {
    background: red!important;
  }

  .mat-button-toggle{
    background-color: #306cee;
    color: #ffffff;
}

.mat-button-toggle:hover {
    background-color: #505050;
    color:  white;    
}